body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  .hidden {
    display: none;
  }
  
  #app {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .answerButton {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.answerButton:hover {
    background-color: #e0e0e0;
}

.answerButton.selected {
    background-color: lightgreen;
    color: white;
    border-color: green;
}